body {
background: linear-gradient(to right, rgb(235, 18, 72), rgba(204, 43, 142));

}
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;  
}

header{
background: white;

}
.content-box{
columns: 3 auto;
}

.sidebar {
position: fixed; 
left: 0;
width: 250px;
height: 100%;
background: #042331;
transition: all .5s ease;

}
.sidebar header{
font-size: 22px;
color: white;
text-align: center;
background: #063146;
user-select: none;
}

.sidebar ul a{
display: block;
height: 40%;
width: 100%;
line-height: 65px;
font-size: 20px;
color: white;
padding-left: 40px;
box-sizing: border-box;
border-top: 1px solid rgba(255,255,255,.1);
border-bottom: 1px solid black; 
transition: .4s;
}

ul li:hover a{
padding-left: 50px;
}

.sidebar ul a i{
margin-right: 16px;
}

.site-header .site-header__brand {
padding-left: 30;
}

.site-header .hr{
grid-area: 2/3/2/9;
grid-row-start: 2;
grid-column-start: 3;
grid-row-end: 2;
grid-column-end: 9;
border-bottom: 1px solid hsla(0,0%,100%,.2);
}


button {
background: white;
color: blue;
border-radius: 10px;
width: 150px;
height: 50px;
}
