body {
background: linear-gradient(to right, rgb(235, 18, 72), rgba(204, 43, 142));

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', 'sans-serif';
}
header {
background: white;
header {
background: white;
}


.content-box{
columns: 3 auto;
}

button {
background: white;
color: blue;
border-radius: 10px;
width: 150px;
height: 50px;
}
