body {
background: linear-gradient(to right, rgb(235, 18, 72), rgb(204, 43, 142));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

header {
background: white;
}



.label {
width: 100%;
display: inline-block;

}

.sidebar {
position: fixed; 
left: 0;
width: 250px;
height: 100%;
background: #042331;
transition: all .5s ease;
}
.sidebar header{
font-size: 22px;
color: white;
text-align: center;
line-height: 70px;
background: #063146;
user-select: none;
}

.sidebar ul a{
display: block;
height: 100%;
width: 100%;
line-height: 65px;
font-size: 20px;
color: white;
padding-left: 40px;
box-sizing: border-box;
border-top: 1px solid rgba(255,255,255,.1);
border-bottom: 1px solid black; 
transition: .4s;
}

ul li:hover a{
padding-left: 50px;
}

.sidebar ul a i{
margin-right: 16px;
}

img{
display: block;
}

.menu-bar {
background: rgb(0,100,0);
text-align: center;
}

.menu-bar ul{
}

button {
background: white;
color: blue;
border-radius: 10px;
width: 150px;
height: 50px;
}
